{% import 'fileproof/macro.html' as macros %}
{% extends 'fileproof/layout.html' %}
{% block content %}
<p>
<a href="/fileproof/sign-up">sign up</a>
<br/>
<a href="/fileproof/sign-in">sign in</a>
<br/>
<a href="/fileproof/keypair/create">create keypair</a>
<br/>
<a href="/fileproof/keypair/replace">replace keypair</a>
<br/>
<a href="/fileproof/store">store</a>
<br/>
<a href="/fileproof/get">get file</a>
<br/>
<a href="/fileproof/update">update file</a>
<br/>
<a href="/fileproof/verify">verify file</a>
<br/>
<a href="/fileproof/list">list</a>
<br/>
</p>
{% endblock %}